<table class='table table-hover table-striped'>
<tr>
   <th class='quantity'>Quantity</th>
   <th class='since'>First</th>
   <th class='until'>Last</th>
   <th class='name'>Name</th>
   <th class='message'>Message</th>
   <th class='stack'>Stack</th>
   <th class='event_target'>Event</th>
   <th class='browsers'>Browsers</th>
   <th class="details"> </th>
</tr>
<% _.each(results, function (cluster) { %>
<tr class='cluster' data-row='<%=cluster.ids%>' data-application='<%=cluster.application%>'>
	<td class='quantity'><%= cluster.quantity %></td>
	<td class='since'><%= cluster.since %></td>
	<td class='until'><%= cluster.until %></td>
	<td class='name'><%= cluster.name %></td>
	<td class='message'><%= cluster.message %></td>
	<td class='stack'><%if (cluster.file) {%><%= cluster.file %>:<%= cluster.line %>:<%= cluster.char %><%}%></td>
	<td class='event_target'><%if (cluster.event_type) {%> <b>(<%= cluster.event_type %>) </b> <%}%>   <%= cluster.event_target %></td>
	<td class='browsers'><%= cluster.browsers %></td>
	<td class='details'><a class='btn'>+</a></td>
</tr>

<% }) %>

</table>